@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f97316, #ec4899);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}